.App-place {
  min-width: 320px;
  min-height: 320px;
  max-height: 320px;
  max-width: 320px;
  margin: 16px 8px;
  border: 2px solid;
  border-radius: 50%;
  padding: 4px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  position: relative;
}

.App-place .content {
  margin: 16px;
}

.App-place .distance {
  min-height: 43px;
  font-size: 32px;
  margin: 16px;
}

.App-place .name {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  white-space: normal;
  overflow: hidden;
}

.App-place .detail {
  min-height: 109px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 8px;
}

.App-place .detail div {
  display: flex;
  align-items: center;
  margin: 4px;
}

.App-place .detail .hours {
  flex-direction: column;
}

.App-place .price {
  font-size: 16px;
  font-weight: 600;
}

.App-place .detail input {
  height: 0px;
  opacity: 0;
}

.App-place .detail button {
  margin: 0px 2px;
}