.place {
  padding: 10px;
}

.place .name {
  text-align: center;
  margin-bottom: 4px;
}

.place .detail {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 14px;
  font-weight: normal;
}

.place .detail div {
  display: flex;
  align-items: center;
}

.place .hours {
  flex-direction: column;
}

.place .price {
  font-size: 16px;
  font-weight: 600;
}

.place .separator {
  margin: 0 4px;
}

.place button {
  white-space: nowrap;
  margin: 4px;
}

/* ---------------- Color Schemes ---------------- */
.App .place .detail,
.App .place .detail * {
  color: #326ADF;
}

.App.night-mode .place .detail,
.App.night-mode .place .detail * {
  color: white;
}