.radius {
  height: 18px;
  width: 18px;
  border: 2px solid #F5B400;
  border-radius: 50%;
  position: relative;
}

.radius .center {
  background-color: #F5B400;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 7px;
}

.radius .line {
  background-color: #F5B400;
  width: 8px;
  height: 2px;
  position: absolute;
  top: 8px;
  right: 0px;
}

.radius.white {
  border-color: white;
}

.radius.white .center {
  background-color: white;
}

.radius.white .line {
  background-color: white;
}

.radius.black {
  border-color: black;
}

.radius.black .center {
  background-color: black;
}

.radius.black .line {
  background-color: black;
}