.App-radius {
  height: 20px;
  width: 20px;
  border: 2px solid #F5B400;
  border-radius: 50%;
  position: relative;
}

.App-radius .center {
  background-color: #F5B400;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.App-radius .radius {
  background-color: #F5B400;
  width: 10px;
  height: 2px;
  position: absolute;
  top: 9px;
  right: 0px;
}

.App-radius.white {
  border-color: #FFFFFF;
}

.App-radius.white .center {
  background-color: #FFFFFF;
}

.App-radius.white .radius {
  background-color: #FFFFFF;
}

.App-radius.black {
  border-color: #000000;
}

.App-radius.black .center {
  background-color: #000000;
}

.App-radius.black .radius {
  background-color: #000000;
}