.toolbar {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar select,
.toolbar button {
  flex: 1;
}

.toolbar button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px;
}

.toolbar button:not(:first-child) {
  margin-left: 6px;
}