.App-select {
  height: 38px;
  font-size: 16px;
  font-weight: 600;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

/* ---------------- App Day/Night Styles ---------------- */
.App.day .App-select {
  background: #FFFFFF;
  border-color:#326ADF;
  color: #326ADF;
}

.App.night .App-select {
  background: #000000;
  border-color:#FFFFFF;
  color: #FFFFFF;
}