.App-place.empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-place.empty.location {
  font-size: 12px;
  flex-direction: column;
}

.App-place.location button {
  margin: 8px;
}

.App-place.empty.request button {
  color: #FFFFFF;
  background-color: #326ADF;
  border-color: #FFFFFF;
  width: 64px;
}