.empty-places {
  height: 320px;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid;
  border-radius: 50%;
}

.empty-places.location {
  font-size: 12px;
  flex-direction: column;
}

.empty-places.location button {
  margin: 8px;
}