.App-alert {
  font-size: 12px;
  padding: 4px 8px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-alert.banner {
  border: 1px solid;
}

.App-alert p {
  margin-right: 8px;
}

.App-alert a {
  text-decoration: underline;
}