.App-header {
  width: 100%;
  font-size: 38px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
  user-select: none;
  margin-top: 8px;
}

.App-header .mode-icon {
  margin-right: 8px;
}