/* ---------------- General Styles ---------------- */
.App-day button {
  background: #fff;
  color: #4285F4;
  border-color: #4285F4;
}

.App-day select {
  background: #fff;
  border-color:#4285F4;
  color: #4285F4;
}

.App-day a {
  color: #4285F4;
}

.App-day input {
  background: #fff;
  border: 1px solid #4285F4;
}

/* ------------------ App Styles ------------------ */
.App.App-day {
  background-color: #fff;
  color: #4285F4;
}

.App-day .App-nav {
  border-color: #4285F4;
}

.App-day .App-nav button.selected {
  background: #4285F4;
  color: #fff;
}

.App-day .App-slider {
  border-color:#4285F4;
}

.App-day .App-place.disabled {
  background: #fff;
  border: 2px solid #4285F4;
}

.App-day .App-place.back {
  color: #fff;
  background: linear-gradient(#4285F4, #3064ba);
}

.App-day .App-place.front {
  background: #fff;
  border: 2px solid #4285F4;
}