.App-footer {
  font-size: 11px;
  margin: 8px 16px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

.App-footer .toggle {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.App-footer .toggle.closed {
  transform: rotate(180deg);
}

.App-footer .contact {
  display: flex;
}

.App-footer .contact button {
  flex: 1;
}

