.App-subscribe-form {
  margin-bottom: 8px;
}

.App-subscribe-form .message {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  text-align: center;
}

.App-subscribe-form .message.error {
  color: #DB4437
}

.App-subscribe-form .message.success {
  color: #0F9D58;
}

.App-subscribe-form .form {
  display: flex;
  align-items: center;
}

.App-subscribe-form input {
  height: 24px;
  margin-right: 4px;
  padding-left: 8px;
  border-radius: 4px;
  box-shadow: none;
  flex: 1;
}
