
.App {
  font-size: 14px;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  color: #326ADF;
}

.App-policy {
  padding: 0px 8px;
}

/* ------------- Special Styles ------------- */
.App.day button.yellow,
.App.night button.yellow {
  color: #F5B400;
  border-color: #F5B400;
}

.App.day button.selected.yellow,
.App.night button.selected.yellow  {
  background: #F5B400;
}

.App.day button.green,
.App.night button.green {
  color: #35A251;
  border-color: #35A251;
}

.App.day button.selected.green,
.App.night button.selected.green  {
  background: #35A251;
}

/* ---------------- App Day Styles ---------------- */
.App.day {
  background: #FFFFFF;
  color: #326ADF;
}

.App.day button {
  background: #FFFFFF;
  color: #326ADF;
  border-color: #326ADF;
}

.App.day button.selected {
  background: #326ADF;
  color: #FFFFFF;
}

.App.day a {
  color: #326ADF;
}

.App.day input {
  background: #FFFFFF;
  border: 1px solid #326ADF;
}

/* ---------------- App Night Styles ---------------- */
.App.night {
  background: #000000;
  color: #FFFFFF;
}

.App.night button {
  background: #000000;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.App.night button.selected {
  background: #FFFFFF;
  color: #000000;
}

.App.night a {
  color: #FFFFFF;
}

.App.night input {
  background: #000000;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
