/* ---------------- General Styles ---------------- */
html,
body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Buttons ---------------- */
button {
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  border-width: 2px;
  border-style: solid;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

button:not(.nav-button) {
  border-radius: 6px;
}

button.small {
  height: 28px;
  font-size: 12px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid
}

/* Select ---------------- */
select {
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
  background: transparent;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

/* Link ---------------- */
a {
  margin: 0px 4px;
  cursor: pointer;
}

button a {
  text-decoration: none;
}

/* ------------------ App Styles ------------------ */
.App {
  font-size: 14px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: default;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  margin-bottom: 24px;
  cursor: pointer;
}

.App-header .keywords {
  color: transparent;
  height: 0px;
  width: 0px;
}

.App-spinner {
  z-index: 10;
}

.App-content {
  width: 330px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  z-index: 10;
}

.App-html-attributions {
  font-size: 11px;
  margin-bottom: 8px;
  width: 60%;
  text-align: center;
}

/* App Nav ---------------- */
.App-nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  box-sizing: border-box;
}

.App-nav button {
  flex: 1;
  margin: 0px !important;
}

.App-nav button {
  border-width: 0px 2px 0px 0px;
}

.App-nav button:first-child {
  border-radius: 4px 0px 0px 4px;
}

.App-nav button:last-child {
  border-right: none;
  border-radius: 0px 4px 4px 0px;
}

/* App Slider ---------------- */
.App-slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  margin-bottom: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  box-sizing: border-box;
}

.App-slider .control,
.App-slider .control-value {
  display: flex;
  align-items: center;
}

.App-slider .control input {
  margin: 0px 4px;
}

.App-slider .value {
  width: 20px;
  text-align: right;
  margin-right: 4px;
}

/* App Toolbar ---------------- */
.App-tool-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.App-tool-bar select {
  width: 165px;
}

.App-tool-bar button {
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px;
}

.App-tool-bar button:disabled {
  cursor: default;
}

.App-tool-bar button.yellow {
  color: #F4B400;
  border-color:#F4B400;
}

.App-tool-bar button.green {
  color: #0F9D58;
  border-color:#0F9D58;
}

.App-tool-bar button.red {
  color: #DB4437;
  border-color:#DB4437;
}

/* App Radius Icon ---------------- */
.App-radius-icon {
  height: 20px;
  width: 20px;
  border: 2px solid #F4B400;
  border-radius: 50%;
  position: relative;
}

.App-radius-icon .center {
  background-color: #F4B400;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.App-radius-icon .radius {
  background-color: #F4B400;
  width: 10px;
  height: 2px;
  position: absolute;
  top: 9px;
  right: 0px;
}

/* App Place ---------------- */
.App-place {
  height: 315px;
  width: 315px;
  border-radius: 50%;
  margin-bottom: 32px;
  padding: 4px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.App-place.back:not(.disabled) .body {
  cursor: pointer;
}

.App-place .body {
  height: 300px;
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.App-place .panel {
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.App-place .panel.left {
  left: 0px;
  transform: rotate(180deg);
}

.App-place .panel.right {
  right: 0px;
}

.App-place .distance {
  font-size: 32px;
  margin: 16px;
}

.App-place .name {
  font-size: 16px;
  font-weight: 600;
  max-width: 240px;
}

/* App Place Detail ---------------- */
.App-place-detail {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 8px;
}

.App-place-detail > div {
  display: flex;
  align-items: center;
  margin: 4px;
}

.App-place-detail .hours {
  flex-direction: column;
  color: #0F9D58;
}

.App-place-detail input {
  height: 0px;
  opacity: 0;
}

.App-place-detail button {
  margin: 0px 2px;
}

/* App Place Footer ---------------- */
.App-footer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 11px;
  margin-top: 64px; 
}

.App-footer button.contact {
  width: 100%;
  margin-bottom: 8px;
}

/* App Subscribe Form ---------------- */
.App-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 8px;
}

.App-subscribe-form .message {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  text-align: center;
}

.App-subscribe-form .message.error {
  color: #DB4437
}

.App-subscribe-form .message.success {
  color: #0F9D58;
}

.App-subscribe-form .form {
  display: flex;
  align-items: center;
  width: 100%;
}

.App-subscribe-form input {
  height: 24px;
  margin-right: 4px;
  padding-left: 8px;
  border-radius: 4px;
  box-shadow: none;
  flex: 1px;
}
