
.App {
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  color: #326ADF;
  min-width: 320px;
}

.policy {
  font-size: 12px;
  padding: 0px 8px;
}

/* ---------------- App Color Scheme ---------------- */
.App {
  background: white;
  color: #326ADF;
}

.App button {
  background: white;
  color: #326ADF;
  border-color: #326ADF;
}

.App button.selected {
  background: #326ADF;
  color: white;
}

.App a {
  color: #326ADF;
}

.App input {
  background: white;
  border: 1px solid #326ADF;
}

/* ---------------- App Night Mode Color Scheme ---------------- */
.App.night-mode {
  background: black;
  color: white;
}

.App.night-mode button {
  background: black;
  color: white;
  border-color: white;
}

.App.night-mode button.selected {
  background: white;
  color: black;
}

.App.night-mode a {
  color: white;
}

.App.night-mode input {
  background: black;
  color: white;
  border: 1px solid white;
}

/* ------------- Button Color Schemes ------------- */
.App button.yellow,
.App.night-mode button.yellow {
  color: #F5B400;
  border-color: #F5B400;
}

.App button.selected.yellow {
  background: #F5B400;
  color: white;
}

.App.night-mode button.selected.yellow  {
  background: #F5B400;
  color: black;
}

.App button.green,
.App.night-mode button.green {
  color: #35A251;
  border-color: #35A251;
}

.App button.selected.green {
  background: #35A251;
  color: white;
}

.App.night-mode button.selected.green  {
  background: #35A251;
  color: black;
}