body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select, button, a {
  font-family: 'Open Sans', sans-serif;
}

/* Buttons ---------------- */
button {
  height: 38px;
  min-height: 28px;
  font-size: 16px;
  font-weight: 600;
  border-width: 2px;
  border-style: solid;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

button:not(.nav-button) {
  border-radius: 6px;
}

button.small {
  height: 28px;
  min-height: 28px;
  font-size: 11px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid
}

button:disabled {
  cursor: default;
}

/* Link ---------------- */
a {
  margin: 0px 4px;
  cursor: pointer;
}

button a {
  text-decoration: none;
}