body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select, button, a {
  font-family: 'Open Sans', sans-serif;
}

/* Buttons ---------------- */
button {
  height: 32px;
  font-size: 14px;
  font-weight: 600;
  color: #326ADF;
  border: 2px solid #326ADF;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  background: white;
  margin: 0px;
}

button:not(.nav-button) {
  border-radius: 6px;
}

button.small {
  height: 24px;
  font-size: 11px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}