.nav {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  border: 2px solid;
  border-radius: 6px;
  box-sizing: border-box;
}

.nav button {
  flex: 1;
  margin: 0px !important;
}

.nav button {
  border-width: 0px 2px 0px 0px;
  border-radius: 0px;
}

.nav button:first-child {
  border-radius: 4px 0px 0px 4px;
}

.nav button:last-child {
  border-right: none;
  border-radius: 0px 4px 4px 0px;
}

/* ---------------- Color Schemes ---------------- */
.App .nav button.selected {
  color: white;
  background: #326ADF;
}

.App.night-mode .nav button.selected {
  color: black;
  background: white;
}