.App-nav {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  border: 2px solid;
  border-radius: 6px;
  box-sizing: border-box;
}

.App-nav button {
  flex: 1;
  margin: 0px !important;
}

.App-nav button {
  border-width: 0px 2px 0px 0px;
  border-radius: 0px;
}

.App-nav button:first-child {
  border-radius: 4px 0px 0px 4px;
}

.App-nav button:last-child {
  border-right: none;
  border-radius: 0px 4px 4px 0px;
}

/* ---------------- App Day/Night Styles ---------------- */
.App.day .App-nav button.selected {
  color: #FFFFFF;
  background: #4285F4;
}

.App.night .App-nav button.selected {
  color: #000000;
  background: #FFFFFF;
}