.App-slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  margin-bottom: 8px;
  border: 2px solid;
  border-radius: 6px;
  box-sizing: border-box;
}

.App-slider label {
  width: 60px;
}

.App-slider .control,
.App-slider .control-value {
  display: flex;
  align-items: center;
}

.App-slider .control input {
  margin: 0px 4px;
}

.App-slider .control span {
  width: 20px;
}

.App-slider .control span:first-child {
  text-align: right;
}

.App-slider .control-value {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70px;
}
