.App-slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
  margin-bottom: 8px;
  border: 2px solid;
  border-radius: 6px;
  box-sizing: border-box;
}

.App-slider .control,
.App-slider .control-value {
  display: flex;
  align-items: center;
}

.App-slider .control input {
  margin: 0px 4px;
}

.App-slider .value {
  width: 20px;
  text-align: right;
  margin-right: 4px;
}
